.definition {
    background-color: #BEB70B30;
    border-left: 0.5rem solid #BEB70B;
    padding: 1rem;
    color: #fff;
    margin: 0rem 15rem;
    transition: 0.5s;
}

@media (max-width: 992px) {
    /* laptops */
    .definition {
        margin: 2rem 0rem;
    }
}

@media (max-width: 768px) {
    /* tablets */
    .definition {
        margin: 2rem 2rem;
    }
}

@media (max-width: 600px) {
    /* phone */
    .definition {
        margin: 2rem 0rem;
    }
}